# Unity3D .gitignore file.
#	 Store this file at the root of your local repository.
.DS_Store
_UpgradeReport_Files
Library/*
Library/AssetImportState
Library/AssetServerCacheV3
Library/FailedAssetImports.txt
Library/ScriptAssemblies
Library/ScriptMapper
Library/assetDatabase3
Library/cache
Library/expandedItems
Library/metadata
Library/previews
Library/guidmapper
Library/EditorUserBuildSettings.asset
Library/InspectorExpandedItems.asset
Library/CurrentLayout.dwlt
obj/Debug
Temp
.vs
Assembly-Boo*.booproj
Assembly-CSharp*.csproj
Assembly-UnityScript*.unityproj
fps_android.apk
*.cs.orig
*.cs.orig.meta
*.pidb
*.pdb
*.pdb.meta
*.sln
*.userprefs
build
Backup.sh
UpgradeLog.htm
Assets/AssemblyVersion.g.cs
Assets/AssemblyVersion.g.cs.meta
*.csproj
*.suo
Assets/UnityVS
SyncToy_1374eb7b-0e3a-4074-ab48-ca48fbeceed1.dat
Assets/GameDataEditor/Editor/gde_editor_settings.bytes
Assets/GameDataEditor/Editor/gde_editor_settings.bytes.meta
.idea/
.vscode/
Assets/AssetBundles/
Assets/Plugins/Editor.meta
Assets/Plugins/Editor/JetBrains.meta
Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta
Assets/StreamingAssets/build_info
